body {
  background-color: rgb(70, 147, 231);
  font: normal 15pt arial;
}

header {
  text-align: center;
  color: white;
}

section {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.247);
}

div {
  text-align: center;
  padding: 8px;
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
}
